/* Body Style*/ body { background-image: linear-gradient(#9dffff, #e7ccff); background-repeat:no-repeat;background-attachment: fixed;}
/* Paragraph Style*/ p { background-image: linear-gradient(red,orange,yellow,lime,aqua,violet); background-repeat:no-repeat; }
/*Heading 1 Style*/ h1 { background-image: linear-gradient(#a9148e,#e274cd); }